HELP.md
/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

# OS
.DS_Store

# mvn
mvnw
mvnw.cmd
/.mvn/

pom.xml.releaseBackup
release.properties


src/main/java/sandbox
cache/*

#application specific
src/main/resources/application-dev.properties
application.log*


