<div th:fragment="submenu" th:remove="tag">
    <ul class="tree">
        <li th:each="dir : ${dirsList}">
            <div class="form-check form-check-inline">
                <a href="javascript:void(0);"
                   th:href="@{'/album/' + ${dir.getUri()}}"
                   th:text="${dir.getName()}"></a>
            </div>
            <div th:include="fragments/treeleaf_user :: submenu"
                 th:remove="tag" th:with="dirsList = ${dir.getChildren()}"/>
        </li>
    </ul>
</div>