<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head"></div>
</head>
<body>
<div th:replace="fragments/top"></div>
<div class="container-fluid middle">
    <div class="d-flex flex-row">
        <div class="p-2">
            <span class="align-middle">
                <ul class="buttons">
                    <li>
                        <button class="btn btn-primary toggle-tree" type="button">Tree</button>
                    </li>
                    <li>
                        <button class="btn btn-primary button-href" th:href="@{/api/scan}" type="button">Scan</button>
                    </li>
                    <li>
                        <button class="btn btn-primary button-href" th:href="@{/api/cleanup}" type="button">Clean Up</button>
                    </li>
                    <li>
                        <button class="btn btn-primary button-href" th:href="@{/dd}" type="button">Error</button>
                    </li>
                </ul>
            </span>
        </div>
        <div class="p-2">
            <span class="align-middle status-line">statusLine</span>
        </div>
    </div>
    <div class="row">
        <div class="col px-2">
            <div class="alert alert-primary" role="alert">
                This is a primary alert—check it out!
            </div>
            <div class="alert alert-danger" role="alert">
                This is a danger alert—check it out!
            </div>
        </div>
    </div>

    <div class="d-flex flex-row" th:if="${treeRoot}">
        <div class="p-2 tree">
            <section class="tree" th:include="fragments/treeleaf_admin :: submenu"
                     th:with="dirsList=${treeRoot.getChildren()}"></section>
        </div>
        <div class="p-2 thumbnails px-2">
        </div>
    </div>
</div>
<div th:replace="fragments/bottom"></div>
<div th:replace="fragments/scripts"></div>
<script src="/static/admin.js"></script>
</body>
</html>