<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head"></div>
</head>
<body>
<div th:replace="fragments/top"></div>
<div class="container-fluid">
</div>
<div class="container-fluid middle">
    <div class="row py-3">
        <div class="col">
            <ul class="buttons">
                <li>
                    <button type="button" class="btn btn-primary" th:href="@{/api/scan}">Scan</button>
                </li>
                <li>
                    <button type="button" class="btn btn-primary" th:href="@{/api/cleanup}">Clean Up</button>
                </li>
                <li>
                    <button type="button" class="btn btn-primary" th:href="@{/dd}">Error</button>
                </li>
            </ul>
        </div>
    </div>
    <div class="row py-3" th:if="${statusLine}">
        <div class="col">
            <span th:text="${statusLine}"/>
        </div>
    </div>
    <div class="row py-2">
        <div class="col px-2">
            <div class="alert alert-primary" role="alert">
                This is a primary alert—check it out!
            </div>
            <div class="alert alert-danger" role="alert">
                This is a danger alert—check it out!
            </div>
        </div>
    </div>
    <div class="row py-3" th:if="${files}">
        <div class="col">
            <ul>
                <li th:class="${iterStat.odd}? 'odd'" th:each="file,iterStat : ${files}">
                    <span th:text="${file}">File</span></li>
            </ul>
        </div>
    </div>
</div>
<div th:replace="fragments/bottom"></div>
<div th:replace="fragments/scripts"></div>
<script src="/static/admin.js"></script>
</body>
</html>