<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head"></div>
</head>
<body>
<div th:replace="fragments/top"></div>
<div class="container-fluid middle">
    <div class="d-flex flex-row" th:if="${watchedList}">
        <div class="p-2 tree">
            <section class="tree" th:include="fragments/treeleaf_user :: submenu"
                     th:with="dirsList=${watchedList}"></section>
        </div>
        <div class="p-2 thumbnails px-2">
        </div>
    </div>
</div>
<div th:replace="fragments/bottom"></div>
<div th:replace="fragments/scripts"></div>
</body>
</html>