<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head"></div>
</head>
<body>
<div th:replace="fragments/top"></div>
<div class="container-fluid middle">
    <div class="row">
        <div class="col-2 px-2">
            <h2>
                directoryTreeBuilder
            </h2>
        </div>
        <div class="col-10 thumbnails px-2">
            <h2>
                images
            </h2>
        </div>
    </div>
</div>
<div th:replace="fragments/bottom"></div>
<div th:replace="fragments/scripts"></div>
</body>
</html>